body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
}

.total-container{

    width: 30%;
    height: 40vh;
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto auto;
    margin-top: 10%;
    border-radius: 10px;
}

h1 {
    color: #333;
}

form {
    display: inline-block;
}

input[type="date"] {
    margin-top: 10px;
    margin-left: 20%;
    padding: 10px;
    width: 60%;
    border: 0;
    border-radius: 4px;
}
input{
    outline: none;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    margin: 4px 2px;
    width: 60%;
    margin-left: 22%;
    transition-duration: 0.4s;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

#result {
    margin-top: 20px;
    font-size: 24px;
    color: #333;
}